body{
    background-image: image('https://www.klasiksanatlar.com/img/s');
}
.header {
  display: flex;
}
.header h3 {
  flex: 1;
  color: chocolate;
  font-size: 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 30px;
}
.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.header li {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 30px;
}

.link{
    text-decoration: none;
}